<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Fis</title>
  <link rel="stylesheet" type="text/css" href="assets/styles/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div style="text-align: center; margin-top: 4%; color: rgb(54, 54, 54)">
    <h1 style="font-size: 65px; color: rgb(95, 135, 192); ;">Bienvenido a KIGS!</h1>
    <h2 style="margin-top:5%">Selecciona una de las siguientes opciones para poder acceder:</h2>
  </div>
  <div class="options">
    <a href="/student" class="choose">
      <h1 style="margin-top: 10%">Soy un alumno</h1>
      <img style="margin-top: 10%" src="assets/images/estudiante.png">
    </a>
    <a href="/teacher" class="choose">
      <h1 style="margin-top: 10%">Soy un profesor</h1>
      <img style="margin-top: 8%; margin-left: 10%" src="assets/images/profesor.png">
    </a>
  </div>
</body>

</html>