<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Fis</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/themes@4.0.1/bulma/bulma.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/b55a362f2a.js" crossorigin="anonymous"></script>
</head>

<body>
  <a href="/student" class="goBack">
    <i class="fas fa-chevron-left"></i>
    <div class="hide-text">
      <p>Volver</p>
    </div>
  </a>
  <div class="chapterContent">
    <h1>Crear Perfil</h1>

    <div class="input-group mb-3">
      <input required name="name" type="text" class="form-control inputChapter" placeholder="Nombre*"
        aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <input required name="lastName" type="text" class="form-control inputChapter" placeholder="Apellido*"
        aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <input name="age" type="number" class="form-control inputChapter" placeholder="Edad" aria-label="Username"
        aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <select name="sex" class="form-control" id="exampleFormControlSelect1">
        <option selected="true" disabled="disabled">Sexo</option>
        <option value="F">F</option>
        <option value="M">M</option>
        <option value="other">Otro</option>
      </select>
    </div>
    <div class="form-group">
      <select name="experienceLevel" class="form-control" id="exampleFormControlSelect1">
        <option selected="true" disabled="disabled">Experiencia</option>
        <option value="bajo">Principiante</option>
        <option value="medio">Intermedio</option>
        <option value="alto">Avanzado</option>
      </select>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="hasGuitar">
      <label class="form-check-label" for="hasGuitar">Tiene guitarra</label>
    </div>
    <div class=" input-group mb-3">
      <button class="buttons" id="submitButton">Agregar</button>
    </div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="/assets/javascript/student/createStudent.js"></script>

</html>